@font-face {
    font-family: 'saudagarregular';
    src: url('../text/saudagar-webfont.woff2') format('woff2'),
        url('../text/saudagar-webfont.woff') format('woff');
}

/* ----------------------------------------------- */
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2EDE6;
    font-family: 'saudagarregular';
    font-size: 18px;
}

/* ------------------------------------------------------- */
.high-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.high-bar :nth-child(2) {
    width: 16%;
}

.social-media {
    opacity: 60%;
    width: 15%;
    padding-top: 50px;
}

#facebook {
    width: 40px;
    height: 40px;
}

#instagram {
    width: 40px;
    height: 40px;
}

/* ------------------------------------------------------- */

.nav-bar {
    display: flex;
    margin-bottom: 40px;
    font-size: 24px;
    letter-spacing: 4px;
    justify-content: space-around;
    margin-left: 20%;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;

}

.nav-bar a:hover {
    transform: scale(1.25);
    transition: all 1s ease;
    color: #369DA3;
    text-decoration: underline;
}


/* ------------------------------------------------------- */

.bar-knowledge {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.bar-knowledge img {
    width: 30%;
    position: absolute;
    top: -207px;
    left: 0;
    z-index: 1;
}

.first-text {
    justify-content: flex-end;
    color: white;
    position: absolute;
    flex-direction: column;
    width: 40%;
}

/* ------------------RESPONSIVE --------------------*/

@media screen and (max-width: 667px) {
    .bar-knowledge img {
        /* display: none; */
        top: 91px;
        left: -8px;
        width: 46%;
    }

    video {
        display: none;
    }

    .nav-bar {
        display: none;
    }

    .high-bar :nth-child(2) {
        width: 45%;
        justify-content: center;
        width: 60%;
    }

    #instagram {
        width: 20px;
        height: 20px;
    }

    #facebook {
        width: 20px;
        height: 20px;
    }

    .high-bar {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        justify-content: center;
        margin-bottom: 40%;
    }

    .first-text {
        font-size: 14px;
        color: black;
        width: 80%;
        text-align: center;
        padding-right: 33px;
    }

    .first-text h1 {
        font-size: 14px;
        color: black;
        text-align: center;
    }

    .bar-knowledge {
        display: flex;
    }
}

/* -------------------------------------------- */

#who-am-i {
    display: flex;
    flex-direction: column;
    /* font-family: 'saudagarregular'; */
}
.who h2 {
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 11em;
    padding-left: 45px; 
    color: grey; 
    letter-spacing: 4px;
}
.who p {
    width: 50%;
    padding-left: 45px;  
    font-size: 18px;
    justify-content: center;
    margin-bottom: 45px;
}
.where {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #ddeff1;  
    width: 100%;
}
.where-text {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    font-size: 18px;
    width: 55%; 
    margin-left: 45px;
}
.where h2 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 2em;
    letter-spacing: 4px;
    color: grey; 
}

.where img {
    justify-content: flex-end;
    width: 40%;
    height: auto;
}
.flowers-transition {
    width: 100%;
    height: 750px;
    background-image: url(../img/FdTransition.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #369da3; */
}
@media  screen and (max-width: 662px) {

}

/* ----------------------------------------- */

#container-all {
    display: grid;
    grid-template-rows: repeat(4, 25vh);
    grid-template-columns: 15% 30% 30% 25%;
    grid-template-areas: "titre goutte rosee rosee"
                         "titre goutte collier-rouge collier-bleu"
                         "titre goutte pince collier-multiple"
                         "titre goutte pince collier-fleur"   ;
    gap: 0;
    height: 100vh;
}

/* placement des images de la grid */

#container-all h2 {
    font-family: 'saudagarregular';
    font-size: 11em;
    writing-mode: vertical-rl;
    grid-area: titre;
    rotate: -180deg;
    transform-origin: -80px 380px;
    color: grey;
    letter-spacing: 4px;
}

.goutte {
    grid-area: goutte;
    width: 100%;
    height: 100vh;
}

.rosee {
    grid-area: rosee;
    width: 100%;
    height: 25vh;
}

.collier-rouge{
    grid-area: collier-rouge;
    width: 100%;
    height: 25vh;
}

.collier-bleu{
    grid-area: collier-bleu;
    width: 100%;
    height: 25vh;
}

.pince {
    grid-area: pince;
    width: 100%;
}

.collier-multiple {
    grid-area: collier-multiple;
    width: 100%;
    height: 25vh;
}

.collier-fleur{
    grid-area: collier-fleur;
    width: 100%;
    height: 25vh;
}

/* definition des props des élément de la grid */

#container-all img:hover {
    transform: scale(1.25);
    transition: all 0.5s ease;
}

/* --------------contact--------------------- */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 20%;
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 20px;
}

textarea {
    width: 20%;
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 50px;
}

label {
    margin-bottom: 5px;
}

#contact {
    align-items: center;
    font-size: 11em;
    writing-mode: vertical-rl;
    grid-area: titre;
    rotate: -180deg;
    transform-origin: 90px 720px;
    color: grey;
}

#contact-branc {
    background-image: url(../img/FdContact@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
  }